body{
background-color: aqua;

}
table , td,th{
    ;
    border-radius: 15px;
border-color: red;

}
th,td{
background-color: yellow;
padding: 20px;

}
table{
    border-cellspacing: 50px;
    width: 50%;
    
  

  

}

th{
    text-align: left;
    background-color: bisque;
}
td{
    text-align: center;
}
