body{
    background-color: aqua;
}

.firsh, tr,th,td{
   
  
padding: 5px;
border-color: tomato;
border-radius: 10%;
}

th, td{
    background-color: yellow;
    cellspacing; 5px;
}
hr{
   width: 30px; 
border-width: 5px;
border: none;
border-color: grey;
border-style: none;
border-top-style: dotted;
}
div{
background-color: white;
 height: 200px;
 width: 200px;
 margin: 0;
 border: 40px solid black;

 text-align: start;
   
    

}
